body {
    background-image: url("https://wallpaper-house.com/data/out/5/wallpaper2you_58307.jpg");
    background-color: coral;
    background-repeat: round;
}

.bio {
    text-align: center;
}

a {
    color: whitesmoke;
    text-align: center;
}

.portfolio{
  color: white;  
}




                