body {
  background-image: url("https://wallpaperplay.com/walls/full/1/b/e/63362.jpg");
  background-color: wheat;
  background-repeat: round;
}

.bio {
  text-align: center;
}

a {
  color: whitesmoke;
  text-align: center;
}

.portfolio {
  color: white;
}

.social-media {
  text-align: center;
}
