body {
  background-image: url("https://wallpaperplay.com/walls/full/1/b/e/63362.jpg");
  background-color: wheat;
  background-repeat: round;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
}

.bio {
  text-align: center;
}

a {
  color: whitesmoke;
  text-align: center;
}

.portfolio {
  color: white;
  font-weight: bold;
}

.social-media {
  text-align: center;
}

.img-thumbnail {
  width: 850px;
  height: 450px;
}

.img-container {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.btn-div {
  display: inline-block;
}

.project-head {
  color: whitesmoke;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}
